<%= form_tag sessions_path, class: 'form-signin' do %>
  <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
  <hr class="colorgraph">
  <%= render partial: 'partials/notifications' %>
  <%= text_field_tag :username, params[:username], class: 'form-control pad10', autofocus: true, placeholder: 'Username', required: true %>
  <%= password_field_tag :password, '', class: 'form-control pad10', placeholder: 'Password', required: true %>
  <br>
  <%= submit_tag "Log In", class: "btn btn-lg btn-primary btn-block" %>
<% end %>
