<nav class="sidebar">
  <% @page = params[:controller].split('/')[1]%>
  <ul class="nav">
    <li class="nav-item <%= @page.nil? ? 'nav-active' : '' %>">
      <%= link_to "Dashboard", dashboard_path, class: 'nav-link pad-l25' %>
    </li>

    <% if current_user.is_admin? %>
      <li class="nav-item <%= @page == 'users' ? 'nav-active' : '' %>">
        <%= link_to "User Management", admin_users_path, class: 'nav-link pad-l25' %>
      </li>
    <% end %>

    <% if current_user.is_teacher? %>
      <li class="nav-item <%= @page == 'questions' ? 'nav-active' : '' %>">
        <%= link_to "Questions Management", teacher_questions_path, class: 'nav-link pad-l25' %>
      </li>
      <li class="nav-item <%= @page == 'students' ? 'nav-active' : '' %>">
        <%= link_to "My Students", teacher_students_path, class: 'nav-link pad-l25' %>
      </li>
    <% end %>

    <% if current_user.is_student? %>
      <li class="nav-item <%= @page == 'examinations' ? 'nav-active' : '' %>">
        <%= link_to "Examinations", student_examinations_path, class: 'nav-link pad-l25' %>
      </li>
    <% end %>
  </ul>
</nav>
